<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <clients>
    <client auth="">
      <alert type="memory" limit="60"/>
      <alert type="cpu" limit="70"/>
      <alert type="process" limit="40"/>
    </client>
    <client auth="">
      <alert type="memory" limit="40"/>
      <alert type="cpu" limit="50"/>
      <alert type="process" limit="20"/>
    </client>
  </clients>

  <notification email="" password=""/>
</configuration>